{
    "openapi": "3.0.0",
    "info": {
        "title": "Superlógica Imobiliárias — API",
        "version": "1.0.0",
        "description": "API REST do ERP Superlógica Imobiliárias.\n\nMódulos cobertos por esta documentação: **Contratos**, **Imóveis**, **Encargos**, **Manutenções**, **Vistorias**, **Despesas de Contrato** e **Despesas de Imóveis Vagos**.\n\n## Autenticação\nToda requisição precisa enviar dois cabeçalhos:\n- `app_token` — token do aplicativo\n- `access_token` — token de acesso da licença\n\n## Formatos\n- Requisições e respostas em JSON / UTF-8\n- Datas no padrão `MM/DD/YYYY`\n- Números com `.` como separador decimal, sem separador de milhar, sinal `-` para negativos\n\nSuporte: api.imobiliarias@superlogica.com\n",
        "contact": {
            "name": "Superlógica",
            "email": "api.imobiliarias@superlogica.com",
            "url": "https://www.superlogica.com"
        }
    },
    "servers": [
        {
            "url": "https://apps.superlogica.net/imobiliaria/api",
            "description": "Produção"
        }
    ],
    "tags": [
        {
            "name": "Contratos",
            "description": "Contratos de locação — listagem, criação, edição e exclusão."
        },
        {
            "name": "Imoveis",
            "description": "Cadastro e gestão de imóveis."
        },
        {
            "name": "Encargos",
            "description": "Encargos do imóvel (IPTU, condomínio etc.) e lançamentos de encargos."
        },
        {
            "name": "Manutencoes",
            "description": "Solicitações de manutenção do imóvel."
        },
        {
            "name": "Vistorias",
            "description": "Vistorias do imóvel, modelos e itens."
        },
        {
            "name": "Despesas de Contrato",
            "description": "Despesas vinculadas ao contrato (água, condomínio, IPTU repassado etc.)."
        },
        {
            "name": "Despesas de Imoveis Vagos",
            "description": "Despesas lançadas em imóveis vagos (sem contrato vigente)."
        }
    ],
    "components": {
        "securitySchemes": {
            "app_token": {
                "type": "apiKey",
                "in": "header",
                "name": "app_token"
            },
            "access_token": {
                "type": "apiKey",
                "in": "header",
                "name": "access_token"
            }
        },
        "schemas": {
            "Inquilinos": {
                "type": "object",
                "properties": {
                    "ID_PESSOA_PES": {
                        "type": "integer",
                        "example": 100
                    },
                    "FL_PRINCIPAL_INQ": {
                        "type": "integer",
                        "example": 1
                    },
                    "NM_FRACAO_INQ": {
                        "type": "integer",
                        "example": 50
                    }
                }
            },
            "LocatarioPost": {
                "type": "object",
                "properties": {
                    "ST_NOME_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CNPJ_PES": {
                        "type": "string",
                        "example": 22911385056
                    },
                    "ST_FANTASIA_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CELULAR_PES": {
                        "type": "string",
                        "example": 199830809171
                    },
                    "ST_TELEFONE_PES": {
                        "type": "string",
                        "example": 19385427119
                    },
                    "ST_EMAIL_PES": {
                        "type": "string",
                        "example": "giovani.siqueira@imobiliarias.com"
                    },
                    "ID_FORMA_PAG": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_RG_PES": {
                        "type": "string",
                        "example": 480476506
                    },
                    "ST_ORGAO_PES": {
                        "type": "string",
                        "example": "SSP"
                    },
                    "ST_SEXO_PES": {
                        "type": "string",
                        "example": "Masculino"
                    },
                    "DT_NASCIMENTO_PES": {
                        "type": "string",
                        "example": "02/23/2020"
                    },
                    "ST_NACIONALIDADE_PES": {
                        "type": "string",
                        "example": "Brasileira"
                    },
                    "FL_NAODOMICILIADO_PES": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_CEP_PES": {
                        "type": "string",
                        "example": 13180220
                    },
                    "ST_ENDERECO_PES": {
                        "type": "string",
                        "example": "Rua Benedito Matheus"
                    },
                    "ST_NUMERO_PES": {
                        "type": "string",
                        "example": 100
                    },
                    "ST_COMPLEMENTO_PES": {
                        "type": "string",
                        "example": "Casa"
                    },
                    "ST_BAIRRO_PES": {
                        "type": "string",
                        "example": "Jardim das Orquideas"
                    },
                    "ST_CIDADE_PES": {
                        "type": "string",
                        "example": "Campinas"
                    },
                    "ST_ESTADO_PES": {
                        "type": "string",
                        "example": "SP"
                    },
                    "ST_OBSERVACAO_PES": {
                        "type": "string",
                        "example": "Cadastrado via API"
                    },
                    "FL_LOCATARIO_PES": {
                        "type": "integer",
                        "example": 1
                    }
                },
                "required": [
                    "*   \"ST_NOME_PES\"",
                    "*   \"FL_LOCATARIO_PES\"\n *"
                ]
            },
            "LocatarioPut": {
                "type": "object",
                "properties": {
                    "ID_PESSOA_PES": {
                        "type": "integer",
                        "example": 324
                    },
                    "ST_NOME_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CNPJ_PES": {
                        "type": "string",
                        "example": 22911385056
                    },
                    "ST_FANTASIA_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CELULAR_PES": {
                        "type": "string",
                        "example": 199830809171
                    },
                    "ST_TELEFONE_PES": {
                        "type": "string",
                        "example": 19385427119
                    },
                    "ST_EMAIL_PES": {
                        "type": "string",
                        "example": "giovani.siqueira@imobiliarias.com"
                    },
                    "ID_FORMA_PAG": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_RG_PES": {
                        "type": "string",
                        "example": 480476506
                    },
                    "ST_ORGAO_PES": {
                        "type": "string",
                        "example": "SSP"
                    },
                    "ST_SEXO_PES": {
                        "type": "string",
                        "example": "Masculino"
                    },
                    "DT_NASCIMENTO_PES": {
                        "type": "integer",
                        "example": "02/23/2020"
                    },
                    "ST_NACIONALIDADE_PES": {
                        "type": "string",
                        "example": "Brasileira"
                    },
                    "ST_CEP_PES": {
                        "type": "string",
                        "example": 13180220
                    },
                    "ST_ENDERECO_PES": {
                        "type": "string",
                        "example": "Rua Benedito Matheus"
                    },
                    "ST_NUMERO_PES": {
                        "type": "string",
                        "example": 100
                    },
                    "ST_COMPLEMENTO_PES": {
                        "type": "string",
                        "example": "Casa"
                    },
                    "ST_BAIRRO_PES": {
                        "type": "string",
                        "example": "Jardim das Orquideas"
                    },
                    "ST_CIDADE_PES": {
                        "type": "string",
                        "example": "Campinas"
                    },
                    "ST_ESTADO_PES": {
                        "type": "string",
                        "example": "SP"
                    },
                    "ST_OBSERVACAO_PES": {
                        "type": "string",
                        "example": "Cadastrado via API"
                    }
                },
                "required": [
                    "*  \"ID_PESSOA_PES\"\n *"
                ]
            },
            "ProprietariosPut": {
                "type": "object",
                "properties": {
                    "ID_PESSOA_PES": {
                        "type": "integer",
                        "example": 211
                    },
                    "ST_NOME_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CNPJ_PES": {
                        "type": "string",
                        "example": 6627803020
                    },
                    "ST_FANTASIA_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CELULAR_PES": {
                        "type": "string",
                        "example": 19983080917
                    },
                    "ST_TELEFONE_PES": {
                        "type": "string",
                        "example": 1938547119
                    },
                    "ST_EMAIL_PES": {
                        "type": "string",
                        "example": "giovani.siqueira@imobiliarias.com"
                    },
                    "ID_FORMA_PAG": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_RG_PES": {
                        "type": "string",
                        "example": 480476506
                    },
                    "ST_ORGAO_PES": {
                        "type": "string",
                        "example": "SSP"
                    },
                    "ST_SEXO_PES": {
                        "type": "integer",
                        "example": "Masculino"
                    },
                    "DT_NASCIMENTO_PES": {
                        "type": "string",
                        "example": "12/23/1989"
                    },
                    "ST_NACIONALIDADE_PES": {
                        "type": "string",
                        "example": "Brasileira"
                    },
                    "ST_CEP_PES": {
                        "type": "string",
                        "example": 13180220
                    },
                    "ST_ENDERECO_PES": {
                        "type": "string",
                        "example": "Rua Benedito Matheus"
                    },
                    "ST_NUMERO_PES": {
                        "type": "string",
                        "example": 61
                    },
                    "ST_COMPLEMENTO_PES": {
                        "type": "string",
                        "example": "Casa"
                    },
                    "ST_BAIRRO_PES": {
                        "type": "string",
                        "example": "Jardim Santa Terezinha (Nova Veneza)"
                    },
                    "ST_CIDADE_PES": {
                        "type": "string",
                        "example": "Campinas"
                    },
                    "ST_ESTADO_PES": {
                        "type": "string",
                        "example": "SP"
                    },
                    "FL_RETERISSQN_PES": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_OBSERVACAO_PES": {
                        "type": "string",
                        "example": "Cadastrado via API"
                    }
                },
                "required": [
                    "*  \"ID_PESSOA_PES\"\n *"
                ]
            },
            "ProprietariosPost": {
                "type": "object",
                "properties": {
                    "ST_NOME_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CNPJ_PES": {
                        "type": "string",
                        "example": 6627803020
                    },
                    "ST_FANTASIA_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CELULAR_PES": {
                        "type": "string",
                        "example": 19983080917
                    },
                    "ST_TELEFONE_PES": {
                        "type": "string",
                        "example": 1938547119
                    },
                    "ST_EMAIL_PES": {
                        "type": "string",
                        "example": "giovani.siqueira@imobiliarias.com"
                    },
                    "ID_FORMA_PAG": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_RG_PES": {
                        "type": "string",
                        "example": 480476506
                    },
                    "ST_ORGAO_PES": {
                        "type": "string",
                        "example": "SSP"
                    },
                    "ST_SEXO_PES": {
                        "type": "string",
                        "example": "Masculino"
                    },
                    "DT_NASCIMENTO_PES": {
                        "type": "string",
                        "example": "12/23/1989"
                    },
                    "ST_NACIONALIDADE_PES": {
                        "type": "string",
                        "example": "Brasileira"
                    },
                    "FL_NAODOMICILIADO_PES": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_CEP_PES": {
                        "type": "string",
                        "example": 13180220
                    },
                    "ST_ENDERECO_PES": {
                        "type": "string",
                        "example": "Rua Benedito Matheus"
                    },
                    "ST_NUMERO_PES": {
                        "type": "string",
                        "example": 61
                    },
                    "ST_COMPLEMENTO_PES": {
                        "type": "string",
                        "example": "Casa"
                    },
                    "ST_BAIRRO_PES": {
                        "type": "string",
                        "example": "Jardim Santa Terezinha (Nova Veneza)"
                    },
                    "ST_CIDADE_PES": {
                        "type": "string",
                        "example": "Campinas"
                    },
                    "ST_ESTADO_PES": {
                        "type": "string",
                        "example": "SP"
                    },
                    "FL_RETERISSQN_PES": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_OBSERVACAO_PES": {
                        "type": "string",
                        "example": "Cadastrado via API"
                    },
                    "FL_PROPRIETARIOBENEFICIARIO_PES": {
                        "type": "integer",
                        "example": 1
                    }
                },
                "required": [
                    "*  \"ST_NOME_PES\"",
                    "*  \"FL_PROPRIETARIOBENEFICIARIO_PES\"\n *"
                ]
            },
            "FiadoresPut": {
                "type": "object",
                "properties": {
                    "ID_PESSOA_PES": {
                        "type": "integer",
                        "example": 232
                    },
                    "ST_NOME_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CNPJ_PES": {
                        "type": "string",
                        "example": 22911385056
                    },
                    "ST_FANTASIA_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CELULAR_PES": {
                        "type": "string",
                        "example": 199974842418
                    },
                    "ST_TELEFONE_PES": {
                        "type": "string",
                        "example": 19385482154
                    },
                    "ST_EMAIL_PES": {
                        "type": "string",
                        "example": "giovani_siqueira@imobiliarias.com"
                    },
                    "ID_FORMA_PAG": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_RG_PES": {
                        "type": "string",
                        "example": 48047650685
                    },
                    "ST_ORGAO_PES": {
                        "type": "string",
                        "example": "SSP"
                    },
                    "ST_SEXO_PES": {
                        "type": "string",
                        "example": "Masculino"
                    },
                    "DT_NASCIMENTO_PES": {
                        "type": "integer",
                        "example": "09/23/1993"
                    },
                    "ST_NACIONALIDADE_PES": {
                        "type": "string",
                        "example": "Brasileira"
                    },
                    "FL_NAODOMICILIADO_PES": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_CEP_PES": {
                        "type": "string",
                        "example": 13180220
                    },
                    "ST_ENDERECO_PES": {
                        "type": "string",
                        "example": "Rua Benedito Matheus"
                    },
                    "ST_NUMERO_PES": {
                        "type": "string",
                        "example": 100
                    },
                    "ST_COMPLEMENTO_PES": {
                        "type": "string",
                        "example": "Complemento da pessoa"
                    },
                    "ST_BAIRRO_PES": {
                        "type": "string",
                        "example": "Jardim das Orquideas"
                    },
                    "ST_CIDADE_PES": {
                        "type": "string",
                        "example": "Sumare"
                    },
                    "ST_ESTADO_PES": {
                        "type": "string",
                        "example": "SP"
                    },
                    "ST_OBSERVACAO_PES": {
                        "type": "string",
                        "example": "Registrado via API"
                    }
                },
                "required": [
                    "*   \"ID_PESSOA_PES\"\n *"
                ]
            },
            "FiadoresPost": {
                "type": "object",
                "properties": {
                    "ST_NOME_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CNPJ_PES": {
                        "type": "string",
                        "example": 22911385056
                    },
                    "ST_FANTASIA_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CELULAR_PES": {
                        "type": "string",
                        "example": 199974842418
                    },
                    "ST_TELEFONE_PES": {
                        "type": "string",
                        "example": 19385482154
                    },
                    "ST_EMAIL_PES": {
                        "type": "string",
                        "example": "giovani_siqueira@imobiliarias.com"
                    },
                    "ID_FORMA_PAG": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_RG_PES": {
                        "type": "string",
                        "example": 48047650685
                    },
                    "ST_ORGAO_PES": {
                        "type": "string",
                        "example": "SSP"
                    },
                    "ST_SEXO_PES": {
                        "type": "string",
                        "example": "Masculino"
                    },
                    "DT_NASCIMENTO_PES": {
                        "type": "string",
                        "example": "09/23/1993"
                    },
                    "ST_NACIONALIDADE_PES": {
                        "type": "string",
                        "example": "Brasileira"
                    },
                    "FL_NAODOMICILIADO_PES": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_CEP_PES": {
                        "type": "string",
                        "example": 13180220
                    },
                    "ST_ENDERECO_PES": {
                        "type": "string",
                        "example": "Rua Benedito Matheus"
                    },
                    "ST_NUMERO_PES": {
                        "type": "string",
                        "example": 100
                    },
                    "ST_COMPLEMENTO_PES": {
                        "type": "string",
                        "example": "Complemento da pessoa"
                    },
                    "ST_BAIRRO_PES": {
                        "type": "string",
                        "example": "Jardim das Orquideas"
                    },
                    "ST_CIDADE_PES": {
                        "type": "string",
                        "example": "Sumare"
                    },
                    "ST_ESTADO_PES": {
                        "type": "string",
                        "example": "SP"
                    },
                    "ST_OBSERVACAO_PES": {
                        "type": "string",
                        "example": "Registrado via API"
                    },
                    "FL_FIADOR_PES": {
                        "type": "integer",
                        "example": 1
                    }
                },
                "required": [
                    "*   \"ST_NOME_PES\"",
                    "*   \"FL_FIADOR_PES\"\n *"
                ]
            },
            "CorretoresPost": {
                "type": "object",
                "properties": {
                    "ST_NOME_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_FANTASIA_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CNPJ_PES": {
                        "type": "string",
                        "example": 22911385056
                    },
                    "ST_CELULAR_PES": {
                        "type": "string",
                        "example": 19983080917
                    },
                    "ST_TELEFONE_PES": {
                        "type": "string",
                        "example": 1938547119
                    },
                    "ST_EMAIL_PES": {
                        "type": "string",
                        "example": "giovani.siqueira@imobiliarias.com"
                    },
                    "ID_FORMA_PAG": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_RG_PES": {
                        "type": "string",
                        "example": 480476506
                    },
                    "ST_ORGAO_PES": {
                        "type": "string",
                        "example": "SSP"
                    },
                    "ST_SEXO_PES": {
                        "type": "string",
                        "example": "Masculino"
                    },
                    "DT_NASCIMENTO_PES": {
                        "type": "string",
                        "example": "09/01/1996"
                    },
                    "ST_NACIONALIDADE_PES": {
                        "type": "string",
                        "example": "Brasileira"
                    },
                    "ST_OBSERVACAO_PES": {
                        "type": "string",
                        "example": "Pessoa cadastrada via API"
                    },
                    "FL_CORRETOR_PES": {
                        "type": "integer",
                        "example": 0
                    }
                },
                "required": [
                    "*   \"ST_NOME_PES\"",
                    "*   \"FL_CORRETOR_PES\"\n *"
                ]
            },
            "CorretoresPut": {
                "type": "object",
                "properties": {
                    "ID_PESSOA_PES": {
                        "type": "integer",
                        "example": 219
                    },
                    "ST_NOME_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_FANTASIA_PES": {
                        "type": "string",
                        "example": "Giovani Siqueira"
                    },
                    "ST_CNPJ_PES": {
                        "type": "string",
                        "example": 22911385056
                    },
                    "ST_CELULAR_PES": {
                        "type": "string",
                        "example": 19983080917
                    },
                    "ST_TELEFONE_PES": {
                        "type": "string",
                        "example": 1938547119
                    },
                    "ST_EMAIL_PES": {
                        "type": "string",
                        "example": "giovani.siqueira@imobiliarias.com"
                    },
                    "ID_FORMA_PAG": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_RG_PES": {
                        "type": "string",
                        "example": 480476506
                    },
                    "ST_ORGAO_PES": {
                        "type": "string",
                        "example": "SSP"
                    },
                    "ST_SEXO_PES": {
                        "type": "string",
                        "example": "Masculino"
                    },
                    "DT_NASCIMENTO_PES": {
                        "type": "string",
                        "example": "09/01/1996"
                    },
                    "ST_NACIONALIDADE_PES": {
                        "type": "string",
                        "example": "Brasileira"
                    },
                    "ST_OBSERVACAO_PES": {
                        "type": "string",
                        "example": "Pessoa cadastrada via API"
                    },
                    "FL_CORRETOR_PES": {
                        "type": "integer",
                        "example": 0
                    }
                },
                "required": [
                    "*   \"ID_PESSOA_PES\"\n *"
                ]
            },
            "ProprietarioBeneficiario": {
                "type": "object",
                "properties": {
                    "ID_PESSOA_PES": {
                        "type": "integer",
                        "example": 275
                    },
                    "FL_PROPRIETARIO_PRB": {
                        "type": "integer",
                        "example": 1
                    },
                    "NM_FRACAO_PRB": {
                        "type": "number",
                        "example": 115
                    }
                }
            },
            "DespesasParcelas": {
                "type": "object",
                "properties": {
                    "ID_LANCAMENTO_IMOD": {
                        "type": "integer",
                        "example": 523
                    },
                    "ID_MD5PARCELAMENTO_IMOD": {
                        "type": "integer"
                    },
                    "DT_REFERENCIA_IMOD": {
                        "type": "string",
                        "example": "03/29/2020"
                    },
                    "DT_COMPETENCIA_IMOD": {
                        "type": "string",
                        "example": "03/12/2020"
                    },
                    "VL_VALOR_IMOD": {
                        "type": "number",
                        "example": 538
                    },
                    "ST_COMPLEMENTO_IMOD": {
                        "type": "string",
                        "example": "Parcela 1 de 1"
                    }
                }
            },
            "DespesasParcela": {
                "$ref": "#/components/schemas/DespesasParcelas"
            },
            "ContratosPost": {
                "type": "object",
                "properties": {
                    "ID_IMOVEL_IMO": {
                        "type": "integer",
                        "example": 364
                    },
                    "ID_TIPO_CON": {
                        "type": "integer",
                        "example": 1
                    },
                    "DT_INICIO_CON": {
                        "type": "string",
                        "example": "06/28/2019"
                    },
                    "DT_FIM_CON": {
                        "type": "string",
                        "example": "12/27/2021"
                    },
                    "VL_ALUGUEL_CON": {
                        "type": "number",
                        "example": 1800
                    },
                    "TX_ADM_CON": {
                        "type": "string",
                        "example": 10
                    },
                    "FL_TXADMVALORFIXO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "NM_DIAVENCIMENTO_CON": {
                        "type": "integer",
                        "example": 25
                    },
                    "INQUILINOS": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Inquilinos"
                        }
                    },
                    "TX_LOCACAO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "ID_INDICEREAJUSTE_CON": {
                        "type": "integer",
                        "example": 1
                    },
                    "NM_MESREAJUSTE_CON": {
                        "type": "integer",
                        "example": 6
                    },
                    "DT_ULTIMOREAJUSTE_CON": {
                        "type": "integer",
                        "example": "06/01/2019"
                    },
                    "FL_MESFECHADO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "ID_CONTABANCO_CB": {
                        "type": "integer",
                        "example": 1
                    },
                    "FL_DIAFIXOREPASSE_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "NM_DIAREPASSE_CON": {
                        "type": "integer",
                        "example": 5
                    },
                    "FL_MESVENCIDO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "FL_DIMOB_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "ID_FILIAL_FIL": {
                        "type": "integer",
                        "example": 0
                    },
                    "ST_OBSERVACAO_CON": {
                        "type": "string",
                        "example": "Contrato cadastrado via API"
                    },
                    "NM_REPASSEGARANTIDO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "FL_GARANTIA_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "FL_SEGUROINCENDIO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "FL_ENDCOBRANCA_CON": {
                        "type": "integer",
                        "example": 0
                    }
                },
                "required": [
                    "*  \"ID_IMOVEL_IMO\"",
                    "*  \"ID_TIPO_CON\"",
                    "*  \"DT_INICIO_CON\"",
                    "*  \"DT_FIM_CON\"",
                    "*  \"VL_ALUGUEL_CON\"",
                    "*  \"TX_ADM_CON\"",
                    "*  \"FL_TXADMVALORFIXO_CON\"",
                    "*  \"NM_DIAVENCIMENTO_CON\"",
                    "*  \"INQUILINOS\"",
                    "*  \"TX_LOCACAO_CON\"",
                    "*  \"ID_INDICEREAJUSTE_CON\"",
                    "*  \"NM_MESREAJUSTE_CON\"",
                    "*  \"DT_ULTIMOREAJUSTE_CON\"",
                    "*  \"FL_MESFECHADO_CON\"",
                    "*  \"ID_CONTABANCO_CB\"",
                    "*  \"FL_DIAFIXOREPASSE_CON\"",
                    "*  \"NM_DIAREPASSE_CON\"",
                    "*  \"FL_MESVENCIDO_CON\"",
                    "*  \"FL_DIMOB_CON\"",
                    "*  \"ID_FILIAL_FIL\"",
                    "*  \"ST_OBSERVACAO_CON\"",
                    "*  \"NM_REPASSEGARANTIDO_CON\"",
                    "*  \"FL_GARANTIA_CON\"",
                    "*  \"FL_SEGUROINCENDIO_CON\"",
                    "*  \"FL_ENDCOBRANCA_CON\"\n *"
                ]
            },
            "ContratosPut": {
                "type": "object",
                "properties": {
                    "ID_TIPO_CON": {
                        "type": "integer",
                        "example": 1
                    },
                    "DT_INICIO_CON": {
                        "type": "integer",
                        "example": "06/28/2019"
                    },
                    "DT_FIM_CON": {
                        "type": "integer",
                        "example": "12/27/2021"
                    },
                    "VL_ALUGUEL_CON": {
                        "type": "string",
                        "example": 1832
                    },
                    "TX_ADM_CON": {
                        "type": "string",
                        "example": 10
                    },
                    "FL_TXADMVALORFIXO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "NM_DIAVENCIMENTO_CON": {
                        "type": "integer",
                        "example": 25
                    },
                    "INQUILINOS": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Inquilinos"
                        }
                    },
                    "TX_LOCACAO_CON": {
                        "type": "string",
                        "example": 0
                    },
                    "ID_INDICEREAJUSTE_CON": {
                        "type": "integer",
                        "example": 1
                    },
                    "NM_MESREAJUSTE_CON": {
                        "type": "integer",
                        "example": 6
                    },
                    "DT_ULTIMOREAJUSTE_CON": {
                        "type": "integer",
                        "example": "06/01/2019"
                    },
                    "FL_MESFECHADO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "ID_CONTABANCO_CB": {
                        "type": "integer",
                        "example": 1
                    },
                    "FL_DIAFIXOREPASSE_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "NM_DIAREPASSE_CON": {
                        "type": "integer",
                        "example": 5
                    },
                    "FL_MESVENCIDO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "FL_DIMOB_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "ID_FILIAL_FIL": {
                        "type": "integer",
                        "example": 0
                    },
                    "ST_OBSERVACAO_CON": {
                        "type": "string",
                        "example": "Contrato cadastrado via API"
                    },
                    "NM_REPASSEGARANTIDO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "FL_GARANTIA_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "FL_SEGUROINCENDIO_CON": {
                        "type": "integer",
                        "example": 0
                    },
                    "FL_ENDCOBRANCA_CON": {
                        "type": "string",
                        "example": 0
                    }
                },
                "required": [
                    "*  \"ID_CONTRATO_CON\"",
                    "*  \"ID_IMOVEL_IMO\"",
                    "*  \"ID_TIPO_CON\"",
                    "*  \"DT_INICIO_CON\"",
                    "*  \"DT_FIM_CON\"",
                    "*  \"VL_ALUGUEL_CON\"",
                    "*  \"TX_ADM_CON\"",
                    "*  \"FL_TXADMVALORFIXO_CON\"",
                    "*  \"NM_DIAVENCIMENTO_CON\"",
                    "*  \"INQUILINOS\"",
                    "*  \"TX_LOCACAO_CON\"",
                    "*  \"ID_INDICEREAJUSTE_CON\"",
                    "*  \"NM_MESREAJUSTE_CON\"",
                    "*  \"DT_ULTIMOREAJUSTE_CON\"",
                    "*  \"FL_MESFECHADO_CON\"",
                    "*  \"ID_CONTABANCO_CB\"",
                    "*  \"FL_DIAFIXOREPASSE_CON\"",
                    "*  \"NM_DIAREPASSE_CON\"",
                    "*  \"FL_MESVENCIDO_CON\"",
                    "*  \"FL_DIMOB_CON\"",
                    "*  \"ID_FILIAL_FIL\"",
                    "*  \"ST_OBSERVACAO_CON\"",
                    "*  \"NM_REPASSEGARANTIDO_CON\"",
                    "*  \"FL_GARANTIA_CON\"",
                    "*  \"FL_SEGUROINCENDIO_CON\"",
                    "*  \"FL_ENDCOBRANCA_CON\"\n *"
                ]
            },
            "ContratosPostResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string",
                        "example": "Todos os itens foram processados com sucesso."
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "ContratosGetResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "session": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "ContratosPutResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string",
                        "example": "Todos os itens foram processados com sucesso."
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "ImoveisPost": {
                "type": "object",
                "properties": {
                    "ST_TIPO_IMO": {
                        "type": "string",
                        "example": 1
                    },
                    "ST_CEP_IMO": {
                        "type": "string",
                        "example": 13180220
                    },
                    "ST_ENDERECO_IMO": {
                        "type": "string",
                        "example": "Rua Benedito Matheus"
                    },
                    "ST_NUMERO_IMO": {
                        "type": "string",
                        "example": 100
                    },
                    "ST_COMPLEMENTO_IMO": {
                        "type": "string",
                        "example": "Casa"
                    },
                    "ST_BAIRRO_IMO": {
                        "type": "string",
                        "example": "Jardim Santa Therezinha"
                    },
                    "ST_CIDADE_IMO": {
                        "type": "string",
                        "example": "Sumare"
                    },
                    "ST_ESTADO_IMO": {
                        "type": "string",
                        "example": "SP"
                    },
                    "PROPRIETARIOS_BENEFICIARIOS": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProprietarioBeneficiario"
                        }
                    },
                    "ST_IDENTIFICADOR_IMO": {
                        "type": "string",
                        "example": 75
                    },
                    "VL_ALUGUEL_IMO": {
                        "type": "number",
                        "example": 1000
                    },
                    "VL_VENDA_IMO": {
                        "type": "number",
                        "example": 5035.23
                    },
                    "TX_ADM_IMO": {
                        "type": "string",
                        "example": 10
                    },
                    "FL_TXADMVALORFIXO_IMO": {
                        "type": "integer",
                        "example": 0
                    }
                },
                "required": [
                    "*   \"ST_TIPO_IMO\"",
                    "*   \"ST_CEP_IMO\"",
                    "*   \"ST_ENDERECO_IMO\"",
                    "*   \"ST_BAIRRO_IMO\"",
                    "*   \"ST_CIDADE_IMO\"",
                    "*   \"PROPRIETARIOS_BENEFICIARIOS\"\n *"
                ]
            },
            "ImoveisPut": {
                "type": "object",
                "properties": {
                    "ID_IMOVEL_IMO": {
                        "type": "integer",
                        "example": 180
                    },
                    "ST_TIPO_IMO": {
                        "type": "string",
                        "example": 1
                    },
                    "ST_CEP_IMO": {
                        "type": "string",
                        "example": 13180220
                    },
                    "ST_ENDERECO_IMO": {
                        "type": "string",
                        "example": "Rua Benedito Matheus"
                    },
                    "ST_NUMERO_IMO": {
                        "type": "string",
                        "example": 100
                    },
                    "ST_COMPLEMENTO_IMO": {
                        "type": "string",
                        "example": "Casa"
                    },
                    "ST_BAIRRO_IMO": {
                        "type": "string",
                        "example": "Jardim Santa Therezinha"
                    },
                    "ST_CIDADE_IMO": {
                        "type": "string",
                        "example": "Sumare"
                    },
                    "ST_ESTADO_IMO": {
                        "type": "string",
                        "example": "SP"
                    },
                    "PROPRIETARIOS_BENEFICIARIOS": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProprietarioBeneficiario"
                        }
                    },
                    "ST_IDENTIFICADOR_IMO": {
                        "type": "string",
                        "example": 75
                    },
                    "VL_ALUGUEL_IMO": {
                        "type": "string",
                        "example": 1000
                    },
                    "VL_VENDA_IMO": {
                        "type": "string",
                        "example": 5035.23
                    },
                    "TX_ADM_IMO": {
                        "type": "string",
                        "example": 10
                    },
                    "FL_TXADMVALORFIXO_IMO": {
                        "type": "integer",
                        "example": 0
                    }
                },
                "required": [
                    "*   \"ID_IMOVEL_IMO\"",
                    "*   \"ST_TIPO_IMO\"",
                    "*   \"ST_CEP_IMO\"",
                    "*   \"ST_ENDERECO_IMO\"",
                    "*   \"ST_BAIRRO_IMO\"",
                    "*   \"ST_CIDADE_IMO\"",
                    "*   \"PROPRIETARIOS_BENEFICIARIOS\"\n *"
                ]
            },
            "ImoveisGetResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "session": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "ImoveisPostResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string",
                        "example": "Todos os itens foram processados com sucesso."
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "ImoveisPutResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string",
                        "example": "Todos os itens foram processados com sucesso."
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "EncargosPost": {
                "type": "object",
                "properties": {
                    "ID_ENCARGOS_IMOE": {
                        "type": "integer",
                        "example": 4
                    },
                    "ID_IMOVEL_IMOE": {
                        "type": "integer",
                        "example": 301
                    },
                    "NM_CATEGORIA_IMOE": {
                        "type": "string",
                        "example": 1
                    },
                    "ID_SERVICOENCARGO_IMOE": {
                        "type": "integer",
                        "example": 6
                    },
                    "ST_CODIGOENCARGO_IMOE": {
                        "type": "string",
                        "example": "1234.5678.9101.11213"
                    },
                    "NM_DEBITOENCARGO_IMOE": {
                        "type": "string",
                        "example": 2
                    },
                    "NM_CREDITOENCARGO_IMOE": {
                        "type": "string",
                        "example": 3
                    },
                    "ID_FORNECEDORENCARGO_IMOE": {
                        "type": "integer",
                        "example": 921
                    },
                    "TX_FRACAOENCARGO_IMOE": {
                        "type": "string",
                        "example": "100,00"
                    },
                    "NM_FORMAPAGAMENTOENCARGO_IMOE": {
                        "type": "string",
                        "example": 1
                    },
                    "NM_TIPOENCARGO_IMOE": {
                        "type": "string",
                        "example": 1
                    },
                    "NM_PARCELASENCARGO_IMOE": {
                        "type": "string",
                        "example": 11
                    },
                    "VL_VALORTOTALDOENCARGO_IMOE": {
                        "type": "number",
                        "example": "871,20"
                    },
                    "VL_VALORAVISTAENCARGO_IMOE": {
                        "type": "number",
                        "example": "0,00"
                    }
                },
                "required": [
                    "*   \"ID_ENCARGOS_IMOE\"",
                    "*   \"ID_IMOVEL_IMOE\"",
                    "*   \"NM_CATEGORIA_IMOE\"",
                    "*   \"ST_CODIGOENCARGO_IMOE\"\n *"
                ]
            },
            "EncargosPut": {
                "type": "object",
                "properties": {
                    "NOME_PROPRIETARIO_PRINCIPAL": {
                        "type": "string",
                        "example": "Jorge da Silva"
                    },
                    "ID_CONTRATO_CON": {
                        "type": "integer",
                        "example": 423
                    },
                    "ID_ENCARGOS_IMOE": {
                        "type": "integer",
                        "example": 4
                    },
                    "ID_IMOVEL_IMOE": {
                        "type": "integer",
                        "example": 301
                    },
                    "NM_CATEGORIA_IMOE": {
                        "type": "string",
                        "example": 1
                    },
                    "ID_SERVICOENCARGO_IMOE": {
                        "type": "integer",
                        "example": 6
                    },
                    "ST_CODIGOENCARGO_IMOE": {
                        "type": "string",
                        "example": "1234.5678.9101.11213"
                    },
                    "NM_DEBITOENCARGO_IMOE": {
                        "type": "string",
                        "example": 2
                    },
                    "NM_CREDITOENCARGO_IMOE": {
                        "type": "string",
                        "example": 3
                    },
                    "ID_FORNECEDORENCARGO_IMOE": {
                        "type": "integer",
                        "example": 921
                    },
                    "TX_FRACAOENCARGO_IMOE": {
                        "type": "string",
                        "example": "100,00"
                    },
                    "NM_FORMAPAGAMENTOENCARGO_IMOE": {
                        "type": "string",
                        "example": 1
                    },
                    "NM_TIPOENCARGO_IMOE": {
                        "type": "string",
                        "example": 1
                    },
                    "NM_PARCELASENCARGO_IMOE": {
                        "type": "string",
                        "example": 11
                    },
                    "VL_VALORTOTALDOENCARGO_IMOE": {
                        "type": "number",
                        "example": "871,20"
                    },
                    "VL_VALORAVISTAENCARGO_IMOE": {
                        "type": "number",
                        "example": "0,00"
                    }
                },
                "required": [
                    "*   \"ID_ENCARGOS_IMOE\"",
                    "*   \"ID_IMOVEL_IMOE\"",
                    "*   \"NM_CATEGORIA_IMOE\"",
                    "*   \"ST_CODIGOENCARGO_IMOE\"\n *"
                ]
            },
            "EncargosDelete": {
                "type": "object",
                "properties": {
                    "ID_ENCARGOS_IMOE": {
                        "type": "integer",
                        "example": 4
                    }
                },
                "required": [
                    "*   \"ID_ENCARGOS_IMOE\"\n *"
                ]
            },
            "LancamentoEncargoPost": {
                "type": "object",
                "properties": {
                    "ID_IMOVEL_IMOE": {
                        "type": "integer",
                        "example": 921
                    },
                    "ST_CODIGO_IIL": {
                        "type": "string",
                        "example": "1234.5678.9101.11213"
                    },
                    "NM_ANO_IIL": {
                        "type": "integer",
                        "example": 2020
                    },
                    "FL_STATUS_IIL": {
                        "type": "boolean",
                        "example": 0
                    },
                    "VL_TOTAL_IIL": {
                        "type": "number",
                        "example": "3000,00"
                    },
                    "NM_PARCELAS_IIL": {
                        "type": "integer",
                        "example": 11
                    },
                    "TX_DESCONTO_IIL": {
                        "type": "number",
                        "example": "0,00"
                    },
                    "ST_CODIGOBARRAS_IIL": {
                        "type": "string",
                        "example": 1.2348496025943708e+46
                    },
                    "FL_FORMAPAGAMENTO_IIL": {
                        "type": "boolean",
                        "example": 0
                    },
                    "VL_PRIMEIRAPACELA_IIL": {
                        "type": "number",
                        "example": "105,23"
                    },
                    "DT_VENCIMENTOPRIMEIRAPACELA_IIL": {
                        "type": "string",
                        "example": "2021-11-23"
                    },
                    "ID_TERCEIRO_FAV": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_DEBITO_IMOD": {
                        "type": "integer",
                        "example": 2
                    },
                    "ID_CREDITO_IMOD": {
                        "type": "integer",
                        "example": 4
                    },
                    "ID_CONTRATO_CON": {
                        "type": "integer",
                        "example": 1623
                    },
                    "FL_SEMPRECOBRARDOPROP_IIL": {
                        "type": "boolean",
                        "example": 0
                    },
                    "ST_DADOSPARCELAS_IIL": {
                        "type": "string",
                        "example": "[{'licenca':'base', 'codigoIptu':'1234.5678.9101.11213', 'cpfCnpj':'369.773.620-57', 'publico':'1', 'vencimento':'11/01/2022', 'valor':'1000.00', 'linha_digitavel':'8237009003736463555929222382071230160524758493032', 'tipo':'boleto', 'data_solicitacao':'11/01/2022'},{'vencimento':'11/01/2022', 'valor':'500.00', 'linha_digitavel':'8237009003736463555929222382071230160524758493032', 'tipo':'boleto', 'data_solicitacao':'11/01/2022'}]"
                    },
                    "FL_LANCAMENTOVIAINTEGRACAO_IIL": {
                        "type": "boolean",
                        "example": 0
                    },
                    "FL_COBRARTXADM_IMOD": {
                        "type": "boolean",
                        "example": 0
                    },
                    "ID_CONTABANCO_CB": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_COMPLEMENTO_IIL": {
                        "type": "string",
                        "example": "Complemento"
                    },
                    "FL_STATUSINTEGRACAO_IIL": {
                        "type": "boolean",
                        "example": 0
                    },
                    "ST_MENSAGEMRETORNO_IIL": {
                        "type": "string",
                        "example": ""
                    },
                    "ID_ENCARGOS_IMOE": {
                        "type": "integer",
                        "example": 3123
                    },
                    "NM_TIPOENCARGO_IMOE": {
                        "type": "integer",
                        "example": 1
                    }
                },
                "required": [
                    "*   \"ID_IMOVEL_IMOE\"",
                    "*   \"ST_CODIGO_IIL\"",
                    "*   \"NM_ANO_IIL\"",
                    "*   \"VL_TOTAL_IIL\"",
                    "*   \"DT_VENCIMENTOPRIMEIRAPACELA_IIL\"",
                    "*   \"NM_TIPOENCARGO_IMOE\"\n *"
                ]
            },
            "LancamentoEncargoDelete": {
                "type": "object",
                "properties": {
                    "ID_IPTULANCAMENTO_IIL": {
                        "type": "integer",
                        "example": 4
                    }
                },
                "required": [
                    "*   \"ID_IPTULANCAMENTO_IIL\"\n *"
                ]
            },
            "ImportarEncargoPost": {
                "type": "object",
                "properties": {
                    "ARQUIVO": {
                        "description": "Arquivo CSV para importar encargos",
                        "type": "string",
                        "format": "binary"
                    }
                },
                "required": [
                    "*   \"ARQUIVO\"\n *"
                ]
            },
            "ImportarDespesasEncargoPost": {
                "type": "object",
                "properties": {
                    "ARQUIVO": {
                        "description": "Arquivo CSV para importar despesas para o encargos",
                        "type": "string",
                        "format": "binary"
                    }
                },
                "required": [
                    "*   \"ARQUIVO\"\n *"
                ]
            },
            "EncargosGetResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "session": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "EncargosPostResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "session": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "EncargosPutResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "session": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "EncargosDeleteResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string"
                    }
                }
            },
            "LancamentoEncargoPostResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "session": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "LancamentosEncargoDeleteResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string"
                    }
                }
            },
            "ImportarEncargosPostResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "session": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "ImportarDespesasEncargosPostResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "session": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "WebhookLancamentosLoteResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                }
            },
            "CodigosIptuResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "session": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "executiontime": {
                        "type": "string"
                    }
                }
            },
            "ManutencoesPutRequest": {
                "type": "object",
                "properties": {
                    "ID_MANUTENCAO_MAN": {
                        "type": "integer",
                        "example": 689
                    },
                    "DT_PREVISAOENTREGA_MAN": {
                        "type": "string",
                        "example": "12/31/2020"
                    },
                    "DT_HORAPREVISAOENTREGA_MAN": {
                        "type": "string",
                        "example": "00:00"
                    },
                    "ARQUIVOS": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "SUGESTAO_EXECUCAO": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "DT_CRIACAO_MAN": {
                        "type": "string",
                        "example": "12/31/2020"
                    },
                    "FL_PRIORIDADE_MAN": {
                        "type": "string",
                        "example": 1
                    },
                    "FL_SITUACAO_MAN": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_IMOVEL_IMO": {
                        "type": "string",
                        "example": 236
                    },
                    "ID_PROPRIETARIO_IMO": {
                        "type": "string",
                        "example": 43
                    },
                    "ID_LOCATARIO_IMO": {
                        "type": "string",
                        "example": 32
                    },
                    "ID_CONTRATO_CON": {
                        "type": "string",
                        "example": 112
                    },
                    "ST_DESCRICAO_MAN": {
                        "type": "string",
                        "example": "Infiltracao de agua"
                    },
                    "FL_SOLICITANTE_MAN": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_IDENTIFICADOR_MAN": {
                        "type": "string",
                        "example": ""
                    },
                    "FL_CATEGORIA_MAN": {
                        "type": "string",
                        "example": 1
                    }
                },
                "required": [
                    "*   \"ID_CONTRATO_CON\"",
                    "*   \"ST_DESCRICAO_MAN\"",
                    "*   \"FL_SOLICITANTE_MAN\"\n *"
                ]
            },
            "ManutencoesPostRequest": {
                "type": "object",
                "properties": {
                    "DT_PREVISAOENTREGA_MAN": {
                        "type": "string",
                        "example": "12/31/2020"
                    },
                    "DT_HORAPREVISAOENTREGA_MAN": {
                        "type": "string",
                        "example": "00:00"
                    },
                    "ARQUIVOS": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "SUGESTAO_EXECUCAO": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "DT_CRIACAO_MAN": {
                        "type": "string",
                        "example": "12/31/2020"
                    },
                    "FL_PRIORIDADE_MAN": {
                        "type": "string",
                        "example": 1
                    },
                    "FL_SITUACAO_MAN": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_IMOVEL_IMO": {
                        "type": "string",
                        "example": 236
                    },
                    "ID_PROPRIETARIO_IMO": {
                        "type": "string",
                        "example": 43
                    },
                    "ID_LOCATARIO_IMO": {
                        "type": "string",
                        "example": 32
                    },
                    "ID_CONTRATO_CON": {
                        "type": "string",
                        "example": 112
                    },
                    "ST_DESCRICAO_MAN": {
                        "type": "string",
                        "example": "Infiltracao de agua"
                    },
                    "FL_SOLICITANTE_MAN": {
                        "type": "integer",
                        "example": 1
                    },
                    "ST_IDENTIFICADOR_MAN": {
                        "type": "string",
                        "example": ""
                    },
                    "FL_CATEGORIA_MAN": {
                        "type": "string",
                        "example": 1
                    }
                },
                "required": [
                    "*   \"ID_CONTRATO_CON\"",
                    "*   \"ST_DESCRICAO_MAN\"",
                    "*   \"FL_SOLICITANTE_MAN\"\n *"
                ]
            },
            "ManutencoesPutResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string",
                        "example": "Todos os itens foram processados com sucesso."
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                }
            },
            "ManutencoesGetResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string",
                        "example": "Todos os itens foram processados com sucesso."
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                }
            },
            "ManutencoesPostResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "msg": {
                        "type": "string",
                        "example": "Todos os itens foram processados com sucesso."
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                }
            },
            "VistoriasGetResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id_vistoria_vis": {
                                    "type": "integer",
                                    "example": 12
                                },
                                "id_imovel_imo": {
                                    "type": "integer",
                                    "example": 364
                                },
                                "id_contrato_con": {
                                    "type": "integer",
                                    "example": 41
                                },
                                "dt_vistoria_vis": {
                                    "type": "string",
                                    "example": "01/15/2026"
                                },
                                "fl_tipo_vis": {
                                    "type": "string",
                                    "enum": [
                                        "entrada",
                                        "saida",
                                        "periodica"
                                    ]
                                },
                                "fl_status_vis": {
                                    "type": "string"
                                },
                                "st_observacao_vis": {
                                    "type": "string"
                                },
                                "id_vistoriador_vis": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "VistoriasPost": {
                "type": "object",
                "required": [
                    "ID_IMOVEL_IMO",
                    "DT_VISTORIA_VIS",
                    "FL_TIPO_VIS"
                ],
                "properties": {
                    "ID_IMOVEL_IMO": {
                        "type": "integer",
                        "example": 364
                    },
                    "ID_CONTRATO_CON": {
                        "type": "integer",
                        "example": 41
                    },
                    "DT_VISTORIA_VIS": {
                        "type": "string",
                        "example": "01/15/2026"
                    },
                    "FL_TIPO_VIS": {
                        "type": "string",
                        "enum": [
                            "entrada",
                            "saida",
                            "periodica"
                        ]
                    },
                    "ID_VISTORIADOR_VIS": {
                        "type": "integer"
                    },
                    "ST_OBSERVACAO_VIS": {
                        "type": "string"
                    }
                }
            },
            "VistoriasPostResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id_vistoria_vis": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "VistoriasPut": {
                "type": "object",
                "required": [
                    "ID_VISTORIA_VIS"
                ],
                "properties": {
                    "ID_VISTORIA_VIS": {
                        "type": "integer",
                        "example": 12
                    },
                    "DT_VISTORIA_VIS": {
                        "type": "string",
                        "example": "01/15/2026"
                    },
                    "FL_STATUS_VIS": {
                        "type": "string"
                    },
                    "ST_OBSERVACAO_VIS": {
                        "type": "string"
                    },
                    "ID_VISTORIADOR_VIS": {
                        "type": "integer"
                    }
                }
            },
            "VistoriasPutResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer",
                        "example": 200
                    }
                }
            },
            "DespesasContratoPut": {
                "type": "object",
                "properties": {
                    "ID_LANCAMENTO_IMOD": {
                        "type": "integer",
                        "example": 9130
                    },
                    "DT_REFERENCIA_IMOD": {
                        "type": "integer",
                        "example": "07/13/2019"
                    },
                    "VL_VALOR_IMOD": {
                        "type": "integer",
                        "example": 170
                    },
                    "ID_PRODUTO_PRD": {
                        "type": "integer",
                        "example": 68
                    },
                    "ST_COMPLEMENTO_IMOD": {
                        "type": "string",
                        "example": "Edicao via API"
                    },
                    "ID_DEBITO_IMOD": {
                        "type": "integer",
                        "example": 2
                    },
                    "ID_CREDITO_IMOD": {
                        "type": "integer",
                        "example": 3
                    },
                    "ID_FORMAPAGAMENTO_IMOD": {
                        "type": "integer",
                        "example": 10
                    },
                    "NM_DIAVENCIMENTO_CON": {
                        "type": "integer",
                        "example": 41
                    },
                    "DT_COMPETENCIA_IMOD": {
                        "type": "integer",
                        "example": "07/13/2019"
                    },
                    "ID_CONTABANCO_CB": {
                        "type": "integer",
                        "example": 76
                    },
                    "FL_COBRARTXADM_IMOD": {
                        "type": "integer",
                        "example": 0
                    },
                    "ID_TERCEIRO_FAV": {
                        "type": "integer",
                        "example": ""
                    }
                },
                "required": [
                    "*  \"ID_LANCAMENTO_IMOD\"",
                    "*  \"DT_REFERENCIA_IMOD\"",
                    "*  \"VL_VALOR_IMOD\"",
                    "*  \"ID_PRODUTO_PRD\"",
                    "*  \"ID_DEBITO_IMOD\"",
                    "*  \"ID_CREDITO_IMOD\"",
                    "*  \"ID_FORMAPAGAMENTO_IMOD\"",
                    "*  \"NM_DIAVENCIMENTO_CON\"",
                    "*  \"DT_COMPETENCIA_IMOD\"",
                    "*  \"ID_CONTABANCO_CB\"",
                    "*  \"FL_COBRARTXADM_IMOD\"",
                    "*  \"ID_TERCEIRO_FAV\"\n *"
                ]
            },
            "DespesasContratoPost": {
                "type": "object",
                "properties": {
                    "ID_IMOVEL_IMO": {
                        "type": "integer",
                        "example": 445
                    },
                    "ID_CONTRATO_CON": {
                        "type": "integer",
                        "example": 544
                    },
                    "DT_LANCAMENTO_IMOD": {
                        "type": "string",
                        "example": "07/13/2019"
                    },
                    "VALOR": {
                        "type": "number",
                        "example": 542
                    },
                    "ID_PRODUTO_PRD": {
                        "type": "integer",
                        "example": 68
                    },
                    "ST_COMPLEMENTO": {
                        "type": "string",
                        "example": "Cadastrado via API"
                    },
                    "ID_DEBITO_IMOD": {
                        "type": "integer",
                        "example": 2
                    },
                    "ID_CREDITO_IMOD": {
                        "type": "integer",
                        "example": 3
                    },
                    "ID_FORMAPAGAMENTO_IMOD": {
                        "type": "integer",
                        "example": 10
                    },
                    "NM_PARCELAS": {
                        "type": "integer",
                        "example": 1
                    },
                    "NM_PARCELAS_FIM": {
                        "type": "integer",
                        "example": 1
                    },
                    "NM_DIAVENCIMENTO_CON": {
                        "type": "integer",
                        "example": 41
                    },
                    "DT_COMPETENCIA_IMOD": {
                        "type": "string",
                        "example": "06/20/2020"
                    },
                    "ID_CONTABANCO_CB": {
                        "type": "integer",
                        "example": 76
                    },
                    "FL_COBRARTXADM_IMOD": {
                        "type": "integer",
                        "example": 0
                    },
                    "ID_TERCEIRO_FAV": {
                        "type": "integer",
                        "example": ""
                    },
                    "ST_CODIGOBARRAS_MOV": {
                        "type": "string",
                        "example": 2.3790504004199064e+46
                    },
                    "DESPESAS_PARCELA": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DespesasParcela"
                        }
                    },
                    "DT_REFERENCIA_IMOD": {
                        "type": "string",
                        "example": "06/15/2020"
                    },
                    "VL_VALOR_IMOD": {
                        "type": "number",
                        "example": 523
                    },
                    "ST_COMPLEMENTO_IMOD": {
                        "type": "string",
                        "example": "Complemento Imod"
                    }
                },
                "required": [
                    "*  \"ID_IMOVEL_IMO\"",
                    "*  \"ID_CONTRATO_CON\"",
                    "*  \"DT_LANCAMENTO_IMOD\"",
                    "*  \"VALOR\"",
                    "*  \"ID_PRODUTO_PRD\"",
                    "*  \"ID_DEBITO_IMOD\"",
                    "*  \"ID_CREDITO_IMOD\"",
                    "*  \"ID_FORMAPAGAMENTO_IMOD\"",
                    "*  \"NM_PARCELAS\"",
                    "*  \"NM_PARCELAS_FIM\"",
                    "*  \"NM_DIAVENCIMENTO_CON\"",
                    "*  \"DT_COMPETENCIA_IMOD\"",
                    "*  \"ID_CONTABANCO_CB\"",
                    "*  \"FL_COBRARTXADM_IMOD\"\n *"
                ]
            },
            "DespesasImovelPut": {
                "type": "object",
                "properties": {
                    "ID_LANCAMENTO_IMOD": {
                        "type": "integer",
                        "example": 3243
                    },
                    "VL_VALOR_IMOD": {
                        "type": "string",
                        "example": -600
                    },
                    "DT_REFERENCIA_IMOD": {
                        "type": "string",
                        "example": "04/15/2020"
                    },
                    "ST_COMPLEMENTO_IMOD": {
                        "type": "string",
                        "example": "Cadastrado via API"
                    },
                    "ID_CONTRATO_CON": {
                        "type": "integer",
                        "example": 520
                    },
                    "LANCAR_SEM_CONTRATO": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_IMOVEL_IMO": {
                        "type": "integer",
                        "example": 559
                    },
                    "DT_LANCAMENTO_IMOD": {
                        "type": "string",
                        "example": "03/29/2020"
                    },
                    "VALOR": {
                        "type": "number",
                        "example": 502
                    },
                    "ST_COMPLEMENTO": {
                        "type": "string",
                        "example": "Cadastrado via API"
                    },
                    "ID_DEBITO_IMOD": {
                        "type": "integer",
                        "example": 2
                    },
                    "ID_PROPRIETARIODEBITO_IMOD": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_CREDITO_IMOD": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_PROPRIETARIOCREDITO_IMOD": {
                        "type": "integer",
                        "example": ""
                    },
                    "ID_TERCEIRO_FAV": {
                        "type": "integer",
                        "example": ""
                    },
                    "ID_FORMAPAGAMENTO_IMOD": {
                        "type": "integer",
                        "example": 10
                    },
                    "NM_PARCELAS": {
                        "type": "string",
                        "example": 1
                    },
                    "NM_PARCELAS_FIM": {
                        "type": "string",
                        "example": 1
                    },
                    "NM_DIAVENCIMENTO_CON": {
                        "type": "string",
                        "example": 10
                    },
                    "DT_COMPETENCIA_IMOD": {
                        "type": "string",
                        "example": "03/13/2020"
                    },
                    "ID_CONTABANCO_CB": {
                        "type": "integer",
                        "example": 6
                    },
                    "FL_COBRARTXADM_IMOD": {
                        "type": "integer",
                        "example": 1
                    },
                    "FL_REPASSAR_IMOD": {
                        "type": "integer",
                        "example": 0
                    },
                    "DESPESAS_PARCELA": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DespesasParcelas"
                        }
                    },
                    "ID_LANCAMENTO_IMODM": {
                        "type": "integer",
                        "example": 105905
                    },
                    "VENCIMENTO": {
                        "type": "string",
                        "example": "03/20/2020"
                    },
                    "DT_LIQUIDACAO_MOV": {
                        "type": "integer",
                        "example": "03/20/2020"
                    },
                    "LIQUIDAR_USANDO_VENCIMENTO": {
                        "type": "integer",
                        "example": 1
                    },
                    "NM_NUMERO_CH": {
                        "type": "integer",
                        "example": 0
                    },
                    "VL_PAGAMENTO": {
                        "type": "number",
                        "example": -600
                    },
                    "ID_DEBITO_IMODM": {
                        "type": "integer",
                        "example": 2
                    },
                    "ID_CREDITO_IMODM": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_LANCAMENTOCREDITO_IMOD": {
                        "type": "integer",
                        "example": 29841
                    },
                    "VL_DESPESA": {
                        "type": "number",
                        "example": 500
                    },
                    "ST_CODIGOBARRAS_MOV": {
                        "type": "string",
                        "example": 2.3790504004199064e+46
                    },
                    "FL_CONCILIADO_IMOD": {
                        "type": "integer",
                        "example": 1
                    }
                },
                "required": [
                    "*  \"ID_LANCAMENTO_IMOD\"",
                    "*  \"VL_VALOR_IMOD\"",
                    "*  \"DT_REFERENCIA_IMOD\"",
                    "*  \"ID_CONTRATO_CON\"",
                    "*  \"LANCAR_SEM_CONTRATO\"",
                    "*  \"ID_IMOVEL_IMO\"",
                    "*  \"DT_LANCAMENTO_IMOD\"",
                    "*  \"VALOR\"",
                    "*  \"ST_COMPLEMENTO\"",
                    "*  \"ID_DEBITO_IMOD\"",
                    "*  \"ID_PROPRIETARIODEBITO_IMOD\"",
                    "*  \"ID_CREDITO_IMOD\"",
                    "*  \"ID_PROPRIETARIOCREDITO_IMOD\"",
                    "*  \"ID_TERCEIRO_FAV\"",
                    "*  \"ID_FORMAPAGAMENTO_IMOD\"",
                    "*  \"NM_PARCELAS\"",
                    "*  \"NM_PARCELAS_FIM\"",
                    "*  \"NM_DIAVENCIMENTO_CON\"",
                    "*  \"DT_COMPETENCIA_IMOD\"",
                    "*  \"ID_CONTABANCO_CB\"",
                    "*  \"FL_COBRARTXADM_IMOD\"",
                    "*  \"FL_REPASSAR_IMOD\"\n *"
                ]
            },
            "DespesasImovelPost": {
                "type": "object",
                "properties": {
                    "VL_VALOR_IMOD": {
                        "type": "number",
                        "example": 39.11
                    },
                    "DT_REFERENCIA_IMOD": {
                        "type": "string",
                        "example": "04/15/2020"
                    },
                    "ST_COMPLEMENTO_IMOD": {
                        "type": "string",
                        "example": "Cadastrado via API"
                    },
                    "ID_CONTRATO_CON": {
                        "type": "integer",
                        "example": 520
                    },
                    "ID_PRODUTO_PRD": {
                        "type": "integer",
                        "example": 8
                    },
                    "LANCAR_SEM_CONTRATO": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_IMOVEL_IMO": {
                        "type": "integer",
                        "example": 559
                    },
                    "DT_LANCAMENTO_IMOD": {
                        "type": "string",
                        "example": "03/29/2020"
                    },
                    "VALOR": {
                        "type": "number",
                        "example": 502
                    },
                    "ST_COMPLEMENTO": {
                        "type": "string",
                        "example": "Cadastrado via API"
                    },
                    "ID_DEBITO_IMOD": {
                        "type": "integer",
                        "example": 2
                    },
                    "ID_PROPRIETARIODEBITO_IMOD": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_CREDITO_IMOD": {
                        "type": "integer",
                        "example": 1
                    },
                    "ID_PROPRIETARIOCREDITO_IMOD": {
                        "type": "integer",
                        "example": ""
                    },
                    "ID_TERCEIRO_FAV": {
                        "type": "integer",
                        "example": ""
                    },
                    "ID_FORMAPAGAMENTO_IMOD": {
                        "type": "integer",
                        "example": 10
                    },
                    "NM_PARCELAS": {
                        "type": "string",
                        "example": 1
                    },
                    "NM_PARCELAS_FIM": {
                        "type": "string",
                        "example": 1
                    },
                    "NM_DIAVENCIMENTO_CON": {
                        "type": "string",
                        "example": 10
                    },
                    "DT_COMPETENCIA_IMOD": {
                        "type": "string",
                        "example": "03/13/2020"
                    },
                    "ID_CONTABANCO_CB": {
                        "type": "integer",
                        "example": 6
                    },
                    "FL_COBRARTXADM_IMOD": {
                        "type": "integer",
                        "example": 1
                    },
                    "FL_REPASSAR_IMOD": {
                        "type": "integer",
                        "example": 0
                    },
                    "DESPESAS_PARCELA": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DespesasParcelas"
                        }
                    }
                },
                "required": [
[...]
